<!-- main.ejs -->
<div class="container">
  <div class="item-new">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="/new" class="btn btn-primary btn-lg btn-block">이미지 등록하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="item-list">

  </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/js/main.js"></script>
<script type="text/javascript">
  window.DATA = '<%- items %>';
</script>